In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

# Combining all location data

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Below Shand

In [4]:
df = pd.read_csv('Below Shand.csv')
df.head()

             Timestamp       Value
0  2018-01-01T00:00:00  563.775551
1  2018-01-01T01:00:00  564.275313
2  2018-01-01T02:00:00  564.275075
3  2018-01-01T03:00:00  564.274837
4  2018-01-01T04:00:00  564.274599

In [5]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp       Value
0 2018-01-01 00:00:00  563.775551
1 2018-01-01 01:00:00  564.275313
2 2018-01-01 02:00:00  564.275075
3 2018-01-01 03:00:00  564.274837
4 2018-01-01 04:00:00  564.274599

In [6]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp       Value
0     2018-01-01 00:00:00  563.775551
1     2018-01-01 01:00:00  564.275313
2     2018-01-01 02:00:00  564.275075
3     2018-01-01 03:00:00  564.274837
4     2018-01-01 04:00:00  564.274599
...                   ...         ...
43843 2023-01-01 19:00:00  459.190833
43844 2023-01-01 20:00:00  458.920000
43845 2023-01-01 21:00:00  458.841667
43846 2023-01-01 22:00:00  458.364167
43847 2023-01-01 23:00:00  457.371667

[43848 rows x 2 columns]

In [7]:
main_df = main_df.rename(columns= {'Value': 'Below Shand'})
main_df

                Timestamp  Below Shand
0     2018-01-01 00:00:00   563.775551
1     2018-01-01 01:00:00   564.275313
2     2018-01-01 02:00:00   564.275075
3     2018-01-01 03:00:00   564.274837
4     2018-01-01 04:00:00   564.274599
...                   ...          ...
43843 2023-01-01 19:00:00   459.190833
43844 2023-01-01 20:00:00   458.920000
43845 2023-01-01 21:00:00   458.841667
43846 2023-01-01 22:00:00   458.364167
43847 2023-01-01 23:00:00   457.371667

[43848 rows x 2 columns]

Blair

In [8]:
df = pd.read_csv('Blair WQ Station.csv')
df.head()

             Timestamp        Value
0  2018-01-01T00:00:00  1075.042832
1  2018-01-01T01:00:00  1091.036884
2  2018-01-01T02:00:00  1098.530936
3  2018-01-01T03:00:00  1098.524988
4  2018-01-01T04:00:00  1095.519040

In [9]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp        Value
0 2018-01-01 00:00:00  1075.042832
1 2018-01-01 01:00:00  1091.036884
2 2018-01-01 02:00:00  1098.530936
3 2018-01-01 03:00:00  1098.524988
4 2018-01-01 04:00:00  1095.519040

In [10]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand        Value
0     2018-01-01 00:00:00   563.775551  1075.042832
1     2018-01-01 01:00:00   564.275313  1091.036884
2     2018-01-01 02:00:00   564.275075  1098.530936
3     2018-01-01 03:00:00   564.274837  1098.524988
4     2018-01-01 04:00:00   564.274599  1095.519040
...                   ...          ...          ...
43843 2023-01-01 19:00:00   459.190833   728.329167
43844 2023-01-01 20:00:00   458.920000   732.067500
43845 2023-01-01 21:00:00   458.841667   737.284167
43846 2023-01-01 22:00:00   458.364167   741.144167
43847 2023-01-01 23:00:00   457.371667   743.047500

[43848 rows x 3 columns]

In [11]:
main_df = main_df.rename(columns= {'Value': 'Blair'})
main_df

                Timestamp  Below Shand        Blair
0     2018-01-01 00:00:00   563.775551  1075.042832
1     2018-01-01 01:00:00   564.275313  1091.036884
2     2018-01-01 02:00:00   564.275075  1098.530936
3     2018-01-01 03:00:00   564.274837  1098.524988
4     2018-01-01 04:00:00   564.274599  1095.519040
...                   ...          ...          ...
43843 2023-01-01 19:00:00   459.190833   728.329167
43844 2023-01-01 20:00:00   458.920000   732.067500
43845 2023-01-01 21:00:00   458.841667   737.284167
43846 2023-01-01 22:00:00   458.364167   741.144167
43847 2023-01-01 23:00:00   457.371667   743.047500

[43848 rows x 3 columns]

Brant

In [12]:
df1 = pd.read_csv('Brant.csv')
df1.head()

             Timestamp        Value
0  2018-01-01T00:00:00  1075.000000
1  2018-01-01T01:00:00  1075.000000
2  2018-01-01T02:00:00  1075.833333
3  2018-01-01T03:00:00  1077.666667
4  2018-01-01T04:00:00  1080.250000

In [13]:
df1.Timestamp = pd.to_datetime(df1.Timestamp)
df1.head()

            Timestamp        Value
0 2018-01-01 00:00:00  1075.000000
1 2018-01-01 01:00:00  1075.000000
2 2018-01-01 02:00:00  1075.833333
3 2018-01-01 03:00:00  1077.666667
4 2018-01-01 04:00:00  1080.250000

In [14]:
main_df = main_df.merge(df1[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand        Blair        Value
0     2018-01-01 00:00:00   563.775551  1075.042832  1075.000000
1     2018-01-01 01:00:00   564.275313  1091.036884  1075.000000
2     2018-01-01 02:00:00   564.275075  1098.530936  1075.833333
3     2018-01-01 03:00:00   564.274837  1098.524988  1077.666667
4     2018-01-01 04:00:00   564.274599  1095.519040  1080.250000
...                   ...          ...          ...          ...
43843 2023-01-01 19:00:00   459.190833   728.329167  -999.000000
43844 2023-01-01 20:00:00   458.920000   732.067500  -999.000000
43845 2023-01-01 21:00:00   458.841667   737.284167  -999.000000
43846 2023-01-01 22:00:00   458.364167   741.144167  -999.000000
43847 2023-01-01 23:00:00   457.371667   743.047500  -999.000000

[43848 rows x 4 columns]

In [15]:
main_df = main_df.rename(columns= {'Value': 'Brant'})
main_df

                Timestamp  Below Shand        Blair        Brant
0     2018-01-01 00:00:00   563.775551  1075.042832  1075.000000
1     2018-01-01 01:00:00   564.275313  1091.036884  1075.000000
2     2018-01-01 02:00:00   564.275075  1098.530936  1075.833333
3     2018-01-01 03:00:00   564.274837  1098.524988  1077.666667
4     2018-01-01 04:00:00   564.274599  1095.519040  1080.250000
...                   ...          ...          ...          ...
43843 2023-01-01 19:00:00   459.190833   728.329167  -999.000000
43844 2023-01-01 20:00:00   458.920000   732.067500  -999.000000
43845 2023-01-01 21:00:00   458.841667   737.284167  -999.000000
43846 2023-01-01 22:00:00   458.364167   741.144167  -999.000000
43847 2023-01-01 23:00:00   457.371667   743.047500  -999.000000

[43848 rows x 4 columns]

Bridgeport

In [16]:
df = pd.read_csv('Bridgeport WQ.csv')
df.head()

             Timestamp       Value
0  2018-01-01T00:00:00  755.916667
1  2018-01-01T01:00:00  756.750000
2  2018-01-01T02:00:00  757.916667
3  2018-01-01T03:00:00  758.000000
4  2018-01-01T04:00:00  758.000000

In [17]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp       Value
0 2018-01-01 00:00:00  755.916667
1 2018-01-01 01:00:00  756.750000
2 2018-01-01 02:00:00  757.916667
3 2018-01-01 03:00:00  758.000000
4 2018-01-01 04:00:00  758.000000

In [18]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand        Blair        Brant       Value
0     2018-01-01 00:00:00   563.775551  1075.042832  1075.000000  755.916667
1     2018-01-01 01:00:00   564.275313  1091.036884  1075.000000  756.750000
2     2018-01-01 02:00:00   564.275075  1098.530936  1075.833333  757.916667
3     2018-01-01 03:00:00   564.274837  1098.524988  1077.666667  758.000000
4     2018-01-01 04:00:00   564.274599  1095.519040  1080.250000  758.000000
...                   ...          ...          ...          ...         ...
43843 2023-01-01 19:00:00   459.190833   728.329167  -999.000000 -999.000000
43844 2023-01-01 20:00:00   458.920000   732.067500  -999.000000 -999.000000
43845 2023-01-01 21:00:00   458.841667   737.284167  -999.000000 -999.000000
43846 2023-01-01 22:00:00   458.364167   741.144167  -999.000000 -999.000000
43847 2023-01-01 23:00:00   457.371667   743.047500  -999.000000 -999.000000

[43848 rows x 5 columns]

In [19]:
main_df = main_df.rename(columns= {'Value': 'Bridgeport'})
main_df

                Timestamp  Below Shand        Blair        Brant  Bridgeport
0     2018-01-01 00:00:00   563.775551  1075.042832  1075.000000  755.916667
1     2018-01-01 01:00:00   564.275313  1091.036884  1075.000000  756.750000
2     2018-01-01 02:00:00   564.275075  1098.530936  1075.833333  757.916667
3     2018-01-01 03:00:00   564.274837  1098.524988  1077.666667  758.000000
4     2018-01-01 04:00:00   564.274599  1095.519040  1080.250000  758.000000
...                   ...          ...          ...          ...         ...
43843 2023-01-01 19:00:00   459.190833   728.329167  -999.000000 -999.000000
43844 2023-01-01 20:00:00   458.920000   732.067500  -999.000000 -999.000000
43845 2023-01-01 21:00:00   458.841667   737.284167  -999.000000 -999.000000
43846 2023-01-01 22:00:00   458.364167   741.144167  -999.000000 -999.000000
43847 2023-01-01 23:00:00   457.371667   743.047500  -999.000000 -999.000000

[43848 rows x 5 columns]

Glen Morris

In [20]:
df = pd.read_csv('Glen Morris.csv')
df.head()

             Timestamp        Value
0  2018-01-01T00:00:00  1100.610445
1  2018-01-01T01:00:00  1112.100710
2  2018-01-01T02:00:00  1122.590974
3  2018-01-01T03:00:00  1131.081238
4  2018-01-01T04:00:00  1138.071503

In [21]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp        Value
0 2018-01-01 00:00:00  1100.610445
1 2018-01-01 01:00:00  1112.100710
2 2018-01-01 02:00:00  1122.590974
3 2018-01-01 03:00:00  1131.081238
4 2018-01-01 04:00:00  1138.071503

In [22]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Value
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440

In [23]:
main_df = main_df.rename(columns= {'Value': 'Glen Morris'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440

Breslau Victoria

In [24]:
df = pd.read_csv('Grand River at Breslau victoria.csv')
df.head()

             Timestamp       Value
0  2018-01-01T00:00:00  942.500000
1  2018-01-01T01:00:00  945.250000
2  2018-01-01T02:00:00  951.416667
3  2018-01-01T03:00:00  954.333333
4  2018-01-01T04:00:00  954.000000

In [25]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp       Value
0 2018-01-01 00:00:00  942.500000
1 2018-01-01 01:00:00  945.250000
2 2018-01-01 02:00:00  951.416667
3 2018-01-01 03:00:00  954.333333
4 2018-01-01 04:00:00  954.000000

In [26]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Value
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000

In [27]:
main_df = main_df.rename(columns= {'Value': 'Breslau Victoria'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000

Road32

In [28]:
df = pd.read_csv('Road32.csv')
df.head()

             Timestamp        Value
0  2018-01-01T00:00:00  1069.115000
1  2018-01-01T01:00:00  1064.530833
2  2018-01-01T02:00:00  1080.650000
3  2018-01-01T03:00:00  1115.093333
4  2018-01-01T04:00:00  1156.461667

In [29]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp        Value
0 2018-01-01 00:00:00  1069.115000
1 2018-01-01 01:00:00  1064.530833
2 2018-01-01 02:00:00  1080.650000
3 2018-01-01 03:00:00  1115.093333
4 2018-01-01 04:00:00  1156.461667

In [30]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Value
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500

In [31]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500

York

In [32]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp        Value
0  2018-01-01T00:00:00  2470.368537
1  2018-01-01T01:00:00  2471.173100
2  2018-01-01T02:00:00  2471.087783
3  2018-01-01T03:00:00  2470.862585
4  2018-01-01T04:00:00  2471.561990

In [33]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp        Value
0 2018-01-01 00:00:00  2470.368537
1 2018-01-01 01:00:00  2471.173100
2 2018-01-01 02:00:00  2471.087783
3 2018-01-01 03:00:00  2470.862585
4 2018-01-01 04:00:00  2471.561990

In [34]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,Value
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000

In [35]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000

Hanlon

In [37]:
df = pd.read_csv('Hanlon.csv')
df.head()

             Timestamp       Value
0  2018-01-01T00:00:00  699.126677
1  2018-01-01T01:00:00  703.625242
2  2018-01-01T02:00:00  707.623807
3  2018-01-01T03:00:00  710.122371
4  2018-01-01T04:00:00  712.120936

In [38]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp       Value
0 2018-01-01 00:00:00  699.126677
1 2018-01-01 01:00:00  703.625242
2 2018-01-01 02:00:00  707.623807
3 2018-01-01 03:00:00  710.122371
4 2018-01-01 04:00:00  712.120936

In [39]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Value
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000,684.726667
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000,680.866667
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000,677.042500
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000,674.933333
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000,672.905833

In [40]:
main_df = main_df.rename(columns= {'Value': 'Hanlon'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000,684.726667
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000,680.866667
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000,677.042500
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000,674.933333
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000,672.905833

In [41]:
main_df2 = main_df.copy()

In [42]:
main_df2.set_index("Timestamp", inplace = True)

In [43]:
main_df2

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000,684.726667
2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000,680.866667
2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000,677.042500
2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000,674.933333
2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000,672.905833

In [44]:
main_df2.to_csv('Conductivity.csv', encoding = 'utf-8-sig')
files.download('Conductivity.csv')

# **Interpolation of Missing values**

In [45]:
conductivity = pd.read_csv("Conductivity.csv")
conductivity

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
1,2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2,2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
3,2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
4,2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000,684.726667
43844,2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000,680.866667
43845,2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000,677.042500
43846,2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000,674.933333
43847,2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000,672.905833

In [46]:
conductivity.set_index("Timestamp", inplace= True)

In [47]:
conductivity

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,459.190833,728.329167,-999.000000,-999.000000,804.971607,-999.000000,887.349167,-999.000000,684.726667
2023-01-01 20:00:00,458.920000,732.067500,-999.000000,-999.000000,783.938273,-999.000000,883.860833,-999.000000,680.866667
2023-01-01 21:00:00,458.841667,737.284167,-999.000000,-999.000000,766.382440,-999.000000,889.647500,-999.000000,677.042500
2023-01-01 22:00:00,458.364167,741.144167,-999.000000,-999.000000,751.204940,-999.000000,900.971667,-999.000000,674.933333
2023-01-01 23:00:00,457.371667,743.047500,-999.000000,-999.000000,737.352440,-999.000000,914.252500,-999.000000,672.905833

In [48]:
#Percentage of Missing values
l = len(conductivity)
for i in range(1, len(conductivity.columns)):
  m = conductivity.iloc[ : , i].isin([-999]).sum(axis= 0)
  p = 100*m/l
  print(conductivity.columns[i], "         ",p)

Blair           17.138752052545158
Brant           8.214741835431491
Bridgeport           5.544152526911148
Glen Morris           0.6089217296113848
Breslau Victoria           16.835431490603906
Road32           20.981572705710636
York           5.856595511767925
Hanlon           22.361339171683998

In [49]:
conductivity[conductivity == -999] = np.nan
conductivity.isin([np.nan]).sum(axis= 0)

Below Shand         12962
Blair                7515
Brant                3602
Bridgeport           2431
Glen Morris           267
Breslau Victoria     7382
Road32               9200
York                 2568
Hanlon               9805
dtype: int64

In [50]:
#Percentage of Missing values
l = len(conductivity)
for i in range(1, len(conductivity.columns)):
  m = conductivity.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(conductivity.columns[i], "         ",p)

Blair           17.138752052545158
Brant           8.214741835431491
Bridgeport           5.544152526911148
Glen Morris           0.6089217296113848
Breslau Victoria           16.835431490603906
Road32           20.981572705710636
York           5.856595511767925
Hanlon           22.361339171683998

In [51]:
conductivity_linear  = conductivity.interpolate(method= "linear")

In [52]:
conductivity_linear

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,459.190833,728.329167,1370.605000,925.060000,804.971607,1773.162500,887.349167,1490.550000,684.726667
2023-01-01 20:00:00,458.920000,732.067500,1370.605000,925.060000,783.938273,1773.162500,883.860833,1490.550000,680.866667
2023-01-01 21:00:00,458.841667,737.284167,1370.605000,925.060000,766.382440,1773.162500,889.647500,1490.550000,677.042500
2023-01-01 22:00:00,458.364167,741.144167,1370.605000,925.060000,751.204940,1773.162500,900.971667,1490.550000,674.933333
2023-01-01 23:00:00,457.371667,743.047500,1370.605000,925.060000,737.352440,1773.162500,914.252500,1490.550000,672.905833

In [53]:
#Percentage of Missing values
l = len(conductivity)
for i in range(1, len(conductivity.columns)):
  m = conductivity_linear.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(conductivity_linear.columns[i], "         ", p)

Blair           0.0
Brant           0.0
Bridgeport           0.0
Glen Morris           0.0
Breslau Victoria           0.0
Road32           0.0
York           0.0
Hanlon           0.0

In [65]:
conductivity.isna().sum()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [54]:
#Checking for negative values as decomposition does not work with negative and zero values
conductivity_linear[conductivity_linear < 0].sum()

Below Shand             0.000000
Blair                   0.000000
Brant                   0.000000
Bridgeport              0.000000
Glen Morris        -36751.535884
Breslau Victoria        0.000000
Road32                  0.000000
York                    0.000000
Hanlon                  0.000000
dtype: float64

In [55]:
conductivity_linear[conductivity_linear < 0].count()

Below Shand           0
Blair                 0
Brant                 0
Bridgeport            0
Glen Morris         516
Breslau Victoria      0
Road32                0
York                  0
Hanlon                0
dtype: int64

In [56]:
conductivity.interpolate(method= "linear", inplace= True)

In [57]:
conductivity[conductivity < 0].count()

Below Shand           0
Blair                 0
Brant                 0
Bridgeport            0
Glen Morris         516
Breslau Victoria      0
Road32                0
York                  0
Hanlon                0
dtype: int64

There are no negative values now.

Now checking for zero values.

In [58]:
conductivity[conductivity == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [59]:
conductivity

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,563.775551,1075.042832,1075.000000,755.916667,1100.610445,942.500000,1069.115000,2470.368537,699.126677
2018-01-01 01:00:00,564.275313,1091.036884,1075.000000,756.750000,1112.100710,945.250000,1064.530833,2471.173100,703.625242
2018-01-01 02:00:00,564.275075,1098.530936,1075.833333,757.916667,1122.590974,951.416667,1080.650000,2471.087783,707.623807
2018-01-01 03:00:00,564.274837,1098.524988,1077.666667,758.000000,1131.081238,954.333333,1115.093333,2470.862585,710.122371
2018-01-01 04:00:00,564.274599,1095.519040,1080.250000,758.000000,1138.071503,954.000000,1156.461667,2471.561990,712.120936
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,459.190833,728.329167,1370.605000,925.060000,804.971607,1773.162500,887.349167,1490.550000,684.726667
2023-01-01 20:00:00,458.920000,732.067500,1370.605000,925.060000,783.938273,1773.162500,883.860833,1490.550000,680.866667
2023-01-01 21:00:00,458.841667,737.284167,1370.605000,925.060000,766.382440,1773.162500,889.647500,1490.550000,677.042500
2023-01-01 22:00:00,458.364167,741.144167,1370.605000,925.060000,751.204940,1773.162500,900.971667,1490.550000,674.933333
2023-01-01 23:00:00,457.371667,743.047500,1370.605000,925.060000,737.352440,1773.162500,914.252500,1490.550000,672.905833

In [60]:
conductivity[conductivity == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [61]:
conductivity[conductivity == np.nan].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [62]:
conductivity[conductivity < 0].count()

Below Shand           0
Blair                 0
Brant                 0
Bridgeport            0
Glen Morris         516
Breslau Victoria      0
Road32                0
York                  0
Hanlon                0
dtype: int64

In [63]:
conductivity.isna().sum()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [64]:
conductivity.to_csv("Conductivity_noNA.csv")
files.download("Conductivity_noNA.csv")