In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

# Combining all location data

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Below Shand

In [4]:
df = pd.read_csv('Below Shand.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  12.10
1  2018-01-01T01:00:00  12.08
2  2018-01-01T02:00:00  12.08
3  2018-01-01T03:00:00  12.07
4  2018-01-01T04:00:00  12.06

In [5]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  12.10
1 2018-01-01 01:00:00  12.08
2 2018-01-01 02:00:00  12.08
3 2018-01-01 03:00:00  12.07
4 2018-01-01 04:00:00  12.06

In [6]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp   Value
0     2018-01-01 00:00:00   12.10
1     2018-01-01 01:00:00   12.08
2     2018-01-01 02:00:00   12.08
3     2018-01-01 03:00:00   12.07
4     2018-01-01 04:00:00   12.06
...                   ...     ...
43843 2023-01-01 19:00:00 -999.00
43844 2023-01-01 20:00:00 -999.00
43845 2023-01-01 21:00:00 -999.00
43846 2023-01-01 22:00:00 -999.00
43847 2023-01-01 23:00:00 -999.00

[43848 rows x 2 columns]

In [7]:
main_df = main_df.rename(columns= {'Value': 'Below Shand'})
main_df

                Timestamp  Below Shand
0     2018-01-01 00:00:00        12.10
1     2018-01-01 01:00:00        12.08
2     2018-01-01 02:00:00        12.08
3     2018-01-01 03:00:00        12.07
4     2018-01-01 04:00:00        12.06
...                   ...          ...
43843 2023-01-01 19:00:00      -999.00
43844 2023-01-01 20:00:00      -999.00
43845 2023-01-01 21:00:00      -999.00
43846 2023-01-01 22:00:00      -999.00
43847 2023-01-01 23:00:00      -999.00

[43848 rows x 2 columns]

Blair

In [8]:
df = pd.read_csv('BlairWQ.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  16.383997
1  2018-01-01T01:00:00  15.815805
2  2018-01-01T02:00:00  15.342613
3  2018-01-01T03:00:00  15.014421
4  2018-01-01T04:00:00  14.781229

In [9]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  16.383997
1 2018-01-01 01:00:00  15.815805
2 2018-01-01 02:00:00  15.342613
3 2018-01-01 03:00:00  15.014421
4 2018-01-01 04:00:00  14.781229

In [10]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand      Value
0     2018-01-01 00:00:00        12.10  16.383997
1     2018-01-01 01:00:00        12.08  15.815805
2     2018-01-01 02:00:00        12.08  15.342613
3     2018-01-01 03:00:00        12.07  15.014421
4     2018-01-01 04:00:00        12.06  14.781229
...                   ...          ...        ...
43843 2023-01-01 19:00:00      -999.00  13.390833
43844 2023-01-01 20:00:00      -999.00  13.398333
43845 2023-01-01 21:00:00      -999.00  13.402500
43846 2023-01-01 22:00:00      -999.00  13.410000
43847 2023-01-01 23:00:00      -999.00  13.420000

[43848 rows x 3 columns]

In [11]:
main_df = main_df.rename(columns= {'Value': 'Blair'})
main_df

                Timestamp  Below Shand      Blair
0     2018-01-01 00:00:00        12.10  16.383997
1     2018-01-01 01:00:00        12.08  15.815805
2     2018-01-01 02:00:00        12.08  15.342613
3     2018-01-01 03:00:00        12.07  15.014421
4     2018-01-01 04:00:00        12.06  14.781229
...                   ...          ...        ...
43843 2023-01-01 19:00:00      -999.00  13.390833
43844 2023-01-01 20:00:00      -999.00  13.398333
43845 2023-01-01 21:00:00      -999.00  13.402500
43846 2023-01-01 22:00:00      -999.00  13.410000
43847 2023-01-01 23:00:00      -999.00  13.420000

[43848 rows x 3 columns]

Brant

In [12]:
df1 = pd.read_csv('Brant.csv')
df1.head()

             Timestamp      Value
0  2018-01-01T00:00:00  15.084167
1  2018-01-01T01:00:00  15.182500
2  2018-01-01T02:00:00  15.171667
3  2018-01-01T03:00:00  15.033333
4  2018-01-01T04:00:00  14.795000

In [13]:
df1.Timestamp = pd.to_datetime(df1.Timestamp)
df1.head()

            Timestamp      Value
0 2018-01-01 00:00:00  15.084167
1 2018-01-01 01:00:00  15.182500
2 2018-01-01 02:00:00  15.171667
3 2018-01-01 03:00:00  15.033333
4 2018-01-01 04:00:00  14.795000

In [14]:
main_df = main_df.merge(df1[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand      Blair       Value
0     2018-01-01 00:00:00        12.10  16.383997   15.084167
1     2018-01-01 01:00:00        12.08  15.815805   15.182500
2     2018-01-01 02:00:00        12.08  15.342613   15.171667
3     2018-01-01 03:00:00        12.07  15.014421   15.033333
4     2018-01-01 04:00:00        12.06  14.781229   14.795000
...                   ...          ...        ...         ...
43843 2023-01-01 19:00:00      -999.00  13.390833 -999.000000
43844 2023-01-01 20:00:00      -999.00  13.398333 -999.000000
43845 2023-01-01 21:00:00      -999.00  13.402500 -999.000000
43846 2023-01-01 22:00:00      -999.00  13.410000 -999.000000
43847 2023-01-01 23:00:00      -999.00  13.420000 -999.000000

[43848 rows x 4 columns]

In [15]:
main_df = main_df.rename(columns= {'Value': 'Brant'})
main_df

                Timestamp  Below Shand      Blair       Brant
0     2018-01-01 00:00:00        12.10  16.383997   15.084167
1     2018-01-01 01:00:00        12.08  15.815805   15.182500
2     2018-01-01 02:00:00        12.08  15.342613   15.171667
3     2018-01-01 03:00:00        12.07  15.014421   15.033333
4     2018-01-01 04:00:00        12.06  14.781229   14.795000
...                   ...          ...        ...         ...
43843 2023-01-01 19:00:00      -999.00  13.390833 -999.000000
43844 2023-01-01 20:00:00      -999.00  13.398333 -999.000000
43845 2023-01-01 21:00:00      -999.00  13.402500 -999.000000
43846 2023-01-01 22:00:00      -999.00  13.410000 -999.000000
43847 2023-01-01 23:00:00      -999.00  13.420000 -999.000000

[43848 rows x 4 columns]

Bridgeport

In [16]:
df = pd.read_csv('Bridgeport.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  13.110000
1  2018-01-01T01:00:00  12.875000
2  2018-01-01T02:00:00  12.702500
3  2018-01-01T03:00:00  12.644167
4  2018-01-01T04:00:00  12.664167

In [17]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  13.110000
1 2018-01-01 01:00:00  12.875000
2 2018-01-01 02:00:00  12.702500
3 2018-01-01 03:00:00  12.644167
4 2018-01-01 04:00:00  12.664167

In [18]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand      Blair       Brant       Value
0     2018-01-01 00:00:00        12.10  16.383997   15.084167   13.110000
1     2018-01-01 01:00:00        12.08  15.815805   15.182500   12.875000
2     2018-01-01 02:00:00        12.08  15.342613   15.171667   12.702500
3     2018-01-01 03:00:00        12.07  15.014421   15.033333   12.644167
4     2018-01-01 04:00:00        12.06  14.781229   14.795000   12.664167
...                   ...          ...        ...         ...         ...
43843 2023-01-01 19:00:00      -999.00  13.390833 -999.000000 -999.000000
43844 2023-01-01 20:00:00      -999.00  13.398333 -999.000000 -999.000000
43845 2023-01-01 21:00:00      -999.00  13.402500 -999.000000 -999.000000
43846 2023-01-01 22:00:00      -999.00  13.410000 -999.000000 -999.000000
43847 2023-01-01 23:00:00      -999.00  13.420000 -999.000000 -999.000000

[43848 rows x 5 columns]

In [19]:
main_df = main_df.rename(columns= {'Value': 'Bridgeport'})
main_df

                Timestamp  Below Shand      Blair       Brant  Bridgeport
0     2018-01-01 00:00:00        12.10  16.383997   15.084167   13.110000
1     2018-01-01 01:00:00        12.08  15.815805   15.182500   12.875000
2     2018-01-01 02:00:00        12.08  15.342613   15.171667   12.702500
3     2018-01-01 03:00:00        12.07  15.014421   15.033333   12.644167
4     2018-01-01 04:00:00        12.06  14.781229   14.795000   12.664167
...                   ...          ...        ...         ...         ...
43843 2023-01-01 19:00:00      -999.00  13.390833 -999.000000 -999.000000
43844 2023-01-01 20:00:00      -999.00  13.398333 -999.000000 -999.000000
43845 2023-01-01 21:00:00      -999.00  13.402500 -999.000000 -999.000000
43846 2023-01-01 22:00:00      -999.00  13.410000 -999.000000 -999.000000
43847 2023-01-01 23:00:00      -999.00  13.420000 -999.000000 -999.000000

[43848 rows x 5 columns]

Glen Morris

In [20]:
df = pd.read_csv('Glen Morris.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  17.67
1  2018-01-01T01:00:00  16.95
2  2018-01-01T02:00:00  16.36
3  2018-01-01T03:00:00  15.88
4  2018-01-01T04:00:00  15.47

In [21]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  17.67
1 2018-01-01 01:00:00  16.95
2 2018-01-01 02:00:00  16.36
3 2018-01-01 03:00:00  15.88
4 2018-01-01 04:00:00  15.47

In [22]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Value
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832

In [23]:
main_df = main_df.rename(columns= {'Value': 'Glen Morris'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832

Breslau Victoria

In [24]:
df = pd.read_csv('Grand River at Breslau Victoria.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  13.411667
1  2018-01-01T01:00:00  13.026667
2  2018-01-01T02:00:00  12.778333
3  2018-01-01T03:00:00  12.628333
4  2018-01-01T04:00:00  12.499167

In [25]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  13.411667
1 2018-01-01 01:00:00  13.026667
2 2018-01-01 02:00:00  12.778333
3 2018-01-01 03:00:00  12.628333
4 2018-01-01 04:00:00  12.499167

In [26]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Value
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000

In [27]:
main_df = main_df.rename(columns= {'Value': 'Breslau Victoria'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000

Road32

In [28]:
df = pd.read_csv('Road32.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  14.497501
1  2018-01-01T01:00:00  14.443334
2  2018-01-01T02:00:00  14.366668
3  2018-01-01T03:00:00  14.215001
4  2018-01-01T04:00:00  13.968334

In [29]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  14.497501
1 2018-01-01 01:00:00  14.443334
2 2018-01-01 02:00:00  14.366668
3 2018-01-01 03:00:00  14.215001
4 2018-01-01 04:00:00  13.968334

In [30]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Value
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167

In [31]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167

York

In [32]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  4.905833
1  2018-01-01T01:00:00  4.864167
2  2018-01-01T02:00:00  4.789167
3  2018-01-01T03:00:00  4.541667
4  2018-01-01T04:00:00  4.440000

In [33]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  4.905833
1 2018-01-01 01:00:00  4.864167
2 2018-01-01 02:00:00  4.789167
3 2018-01-01 03:00:00  4.541667
4 2018-01-01 04:00:00  4.440000

In [34]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,Value
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000

In [35]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000

Hanlon

In [36]:
df = pd.read_csv('Hanlon.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  13.470990
1  2018-01-01T01:00:00  13.365030
2  2018-01-01T02:00:00  13.274071
3  2018-01-01T03:00:00  13.193111
4  2018-01-01T04:00:00  13.107152

In [37]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  13.470990
1 2018-01-01 01:00:00  13.365030
2 2018-01-01 02:00:00  13.274071
3 2018-01-01 03:00:00  13.193111
4 2018-01-01 04:00:00  13.107152

In [38]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Value
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000,13.522500
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000,13.540833
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000,13.517500
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000,13.468333
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000,13.447500

In [39]:
main_df = main_df.rename(columns= {'Value': 'Hanlon'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000,13.522500
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000,13.540833
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000,13.517500
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000,13.468333
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000,13.447500

In [40]:
main_df2 = main_df.copy()

In [41]:
main_df2.set_index("Timestamp", inplace = True)

In [42]:
main_df2

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000,13.522500
2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000,13.540833
2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000,13.517500
2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000,13.468333
2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000,13.447500

In [44]:
main_df2.to_csv('DO.csv', encoding = 'utf-8-sig')
files.download('DO.csv')

# **Interpolation of Missing values**

In [45]:
DO = pd.read_csv("DO.csv")
DO

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
1,2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2,2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
3,2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
4,2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000,13.522500
43844,2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000,13.540833
43845,2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000,13.517500
43846,2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000,13.468333
43847,2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000,13.447500

In [46]:
DO.set_index("Timestamp", inplace= True)

In [47]:
DO

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,12.10,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
2018-01-01 01:00:00,12.08,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2018-01-01 02:00:00,12.08,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
2018-01-01 03:00:00,12.07,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
2018-01-01 04:00:00,12.06,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,-999.00,13.390833,-999.000000,-999.000000,13.995832,-999.000000,13.490000,-999.000000,13.522500
2023-01-01 20:00:00,-999.00,13.398333,-999.000000,-999.000000,13.946666,-999.000000,13.601667,-999.000000,13.540833
2023-01-01 21:00:00,-999.00,13.402500,-999.000000,-999.000000,13.894999,-999.000000,13.612500,-999.000000,13.517500
2023-01-01 22:00:00,-999.00,13.410000,-999.000000,-999.000000,13.828332,-999.000000,13.495833,-999.000000,13.468333
2023-01-01 23:00:00,-999.00,13.420000,-999.000000,-999.000000,13.725832,-999.000000,13.344167,-999.000000,13.447500

In [48]:
#Percentage of Missing values
l = len(DO)
for i in range(1, len(DO.columns)):
  m = DO.iloc[ : , i].isin([-999]).sum(axis= 0)
  p = 100*m/l
  print(DO.columns[i], "         ",p)

Blair           1.5462506841817187
Brant           4.4722678343368
Bridgeport           8.677704798394453
Glen Morris           11.507936507936508
Breslau Victoria           8.882959313993796
Road32           1.945356686735997
York           7.31162196679438
Hanlon           6.116584564860427

In [49]:
DO[DO == -999] = np.nan
DO.isin([np.nan]).sum(axis= 0)

Below Shand         14188
Blair                 678
Brant                1961
Bridgeport           3805
Glen Morris          5046
Breslau Victoria     3895
Road32                853
York                 3206
Hanlon               2682
dtype: int64

In [50]:
#Percentage of Missing values
l = len(DO)
for i in range(1, len(DO.columns)):
  m = DO.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(DO.columns[i], "         ",p)

Blair           1.5462506841817187
Brant           4.4722678343368
Bridgeport           8.677704798394453
Glen Morris           11.507936507936508
Breslau Victoria           8.882959313993796
Road32           1.945356686735997
York           7.31162196679438
Hanlon           6.116584564860427

In [51]:
DO_linear  = DO.interpolate(method= "linear")

In [52]:
DO_linear

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,12.100000,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
2018-01-01 01:00:00,12.080000,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2018-01-01 02:00:00,12.080000,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
2018-01-01 03:00:00,12.070000,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
2018-01-01 04:00:00,12.060000,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,13.272499,13.390833,13.568750,13.400000,13.995832,14.495000,13.490000,14.190000,13.522500
2023-01-01 20:00:00,13.272499,13.398333,13.568750,13.400000,13.946666,14.495000,13.601667,14.190000,13.540833
2023-01-01 21:00:00,13.272499,13.402500,13.568750,13.400000,13.894999,14.495000,13.612500,14.190000,13.517500
2023-01-01 22:00:00,13.272499,13.410000,13.568750,13.400000,13.828332,14.495000,13.495833,14.190000,13.468333
2023-01-01 23:00:00,13.272499,13.420000,13.568750,13.400000,13.725832,14.495000,13.344167,14.190000,13.447500

In [53]:
#Percentage of Missing values
l = len(DO)
for i in range(1, len(DO.columns)):
  m = DO_linear.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(DO_linear.columns[i], "         ", p)

Blair           0.0
Brant           0.0
Bridgeport           0.0
Glen Morris           0.0
Breslau Victoria           0.0
Road32           0.0
York           0.0
Hanlon           0.0

In [54]:
#Checking for negative values as decomposition does not work with negative and zero values
DO_linear[DO_linear < 0].sum()

Below Shand         0.0
Blair               0.0
Brant               0.0
Bridgeport          0.0
Glen Morris         0.0
Breslau Victoria    0.0
Road32              0.0
York                0.0
Hanlon              0.0
dtype: float64

In [55]:
DO_linear[DO_linear < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [56]:
DO.interpolate(method= "linear", inplace= True)

In [57]:
DO[DO < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

There are no negative values now.

Now checking for zero values.

In [58]:
DO[DO == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [59]:
DO

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,12.100000,16.383997,15.084167,13.110000,17.670000,13.411667,14.497501,4.905833,13.470990
2018-01-01 01:00:00,12.080000,15.815805,15.182500,12.875000,16.950000,13.026667,14.443334,4.864167,13.365030
2018-01-01 02:00:00,12.080000,15.342613,15.171667,12.702500,16.360000,12.778333,14.366668,4.789167,13.274071
2018-01-01 03:00:00,12.070000,15.014421,15.033333,12.644167,15.880000,12.628333,14.215001,4.541667,13.193111
2018-01-01 04:00:00,12.060000,14.781229,14.795000,12.664167,15.470000,12.499167,13.968334,4.440000,13.107152
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,13.272499,13.390833,13.568750,13.400000,13.995832,14.495000,13.490000,14.190000,13.522500
2023-01-01 20:00:00,13.272499,13.398333,13.568750,13.400000,13.946666,14.495000,13.601667,14.190000,13.540833
2023-01-01 21:00:00,13.272499,13.402500,13.568750,13.400000,13.894999,14.495000,13.612500,14.190000,13.517500
2023-01-01 22:00:00,13.272499,13.410000,13.568750,13.400000,13.828332,14.495000,13.495833,14.190000,13.468333
2023-01-01 23:00:00,13.272499,13.420000,13.568750,13.400000,13.725832,14.495000,13.344167,14.190000,13.447500

In [60]:
DO[DO == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [61]:
DO[DO == np.nan].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [62]:
DO[DO < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [63]:
DO.isna().sum()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [64]:
DO.to_csv("DO_noNA.csv")
files.download("DO_noNA.csv")